:root {
    --primary-color: #25E6C8 ;
    --secondary-color: #2baaec;
    
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {    
    font-family: 'Roboto', sans-serif;
}

.text-color{
    color: #626262;
}
.title-color {
    color: #363636;
}
.bg-dark {
    color: #163c70;
}
h1, h2 {
    font-family: 'Roboto Slab', serif;
}
h3 {
    font-family: 'Roboto Slab', serif;
}
p {
    color: #626262;
}
.btn:hover {
    transform: scale(1.03);    
}



/* --------------Top Menu------------ */
.logo-mobile {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-top {
    height: 2.5rem;
    margin-top: 2rem;    
    
}

.top-menu {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;    
    border-bottom: 0.8px solid #dedede; 
}
.container {
    width: 80%;    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-left {
    display: flex;
    align-items: center;    
}
.top-menu .far {
    margin-right: .5rem;
}
.social-media {
    display: flex;
}
.social-media ul {
    list-style-type: none;
    display: flex;
}
.far, .nav-soc, .social-media-mobile a{
    color: var(--secondary-color);
}
.nav-soc {
    padding: .6rem;
    
}
.nav-soc:hover {
    color: #25e6c8;
    transform: scale(1.2);
}






/* ----------SOCIAL MEDIA - MOBILE---------- */
.social-media-container {
    background-color: #dedede;
    height: 3rem;
    width: 100%;
    display: flex;    
    position: sticky ;
    bottom: 0%;
    
}
.social-media-mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-mobile ul {
    width: 80%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;       
}





/* --------------Main Menu------------ */

.top-nav {
    margin-top: .9rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    position: sticky;
    
        
}
.container2 {   
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.logo {    
    display: flex;
    cursor: pointer;
}
.container2 ul{
    display: flex;      
    list-style-type: none;    
}

.navbar-link a{
    display: flex;
    text-decoration: none;
    padding: .5rem;
    font-size: 18px;
    color: black;
    font-family: 'Roboto Slab', serif;        
}
.nav-text:hover {
    transform: scale(1.1);
}







/* --------------Showcase------------ */

#img-1 {    
    margin-top: 1rem;    
}
.showcase {
    width: 100%;
    background-color: #DEDEDE;
    margin-top: 1rem;
    display: flex;
    justify-content: center;    
}

.showcase p {
    font-family: 'Roboto', serif;
    font-size: 14px;
    font-weight: 300;
    text-align: center;    
    line-height: 1.6rem;
}
.showcase h1 {    
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    
}
.container3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;    
}
.btn {
    padding: 1rem 3rem;
    border-radius: 10px;
    border: none;
    margin: 2rem 2rem;  
      
}
.btn-clinic:hover {
    background-color: #2BAAEC;
    cursor: pointer;
}
.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.text-1 {    
    display: flex;
    align-items: center;
    flex-direction: column;    
}








/* --------------About Us------------ */
.about {
    width: 100%;    
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.container-4 {
    width: 70%;        
    display: flex;
    align-items: center;
    text-align: center;    
}
.head {
    width: 100%;
    font-size: 1rem;        
}

.line {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    margin: 2rem 0;   
    width: 100%;    
}
.about span {    
    color: var(--secondary-color);
}
.numbers {
    margin: 2rem 0;
}
.numbers h2 {
    color: var(--secondary-color);
}
.results {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#img-2 {
    height: 700px;        
}








/* --------------Services------------ */
.services {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    
}
.services-head {
    width: 25%;
    margin-top: 2rem;    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;    
}
.services-head h2 {
    font-size: 40px;
    font-weight: 100;
}
.line-long {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    margin: 2rem 0;   
    width: 100%;
}
.card {
    width: 20rem;
    height: 20rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;    
    align-items: center;    
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.card-head {
    margin-top: 1rem;
}
.ball {
    background-color: var(--primary-color);
    height: 100px;
    width: 100px;
    border-radius: 50%;    
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {    
    text-align: center;
    width: 75%;    
}
.card:hover .ball{
    background-color: var(--secondary-color);    
    outline: 8px solid #2ba8ec54;
    transition: 400ms;   
    
}
.card:hover {
    box-shadow: 0px 0px 10px 0px #626262;  
    transform: scale(1.02);
}
.grid {
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 3rem; 
    display: grid;       
    align-items: center; 
    justify-content: center;
    grid-template-columns: repeat(1);
    gap: 1rem;
}








/* --------------Appointment------------ */
.appointment {
    background-color: #2ba8ece1;    
    height: 220px;
    display: flex;  
    justify-content: center;      
    
}
    
.appointment .container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
#appointment-book {
    color: white;
    text-align: center;
}
.book {
    color: var(--secondary-color);
    font-weight: 700;
    cursor: pointer;
}
.book:hover {    
    background-color: #2BAAEC;
    border: 1px solid white;
    color: white;
}








/* --------------Footer------------ */
.footer {
    height: 2rem;
    background-color: #2BAAEC;
    display: flex;
    justify-content: center;   
}
.footer .container {
    width: 100%;
    display: flex;
    justify-content: center;    
}
.copywright p{
    color: rgba(255, 255, 255, 0.365);
}












/* ------MEDIA QUERIES----- */

@media (min-width: 300px) {
    .top-menu {
        display: none;
    }    
    .logo {
        display: none;
    }
    .nav-text {
        margin: .5rem;
    }    
    /* showcase */
    
    #img-1, #img-2{
        display: none;
    }
    .showcase {
        width: 100%;
    }
    .container3 {
        justify-content: center;
    }
    /* About us */
}

@media (min-width: 768px) {
    .logo-mobile {
        display: none;
    }
    .nav-text {
        margin: .5rem;
    }   
    .top-menu {
        display: flex;
    }
    .container2 {
        width: 80%;   
        border-bottom: none           
    }
    .logo {
        display: flex;
    }
    .nav-text {
        margin: none;
    }    
    /* ----showcase--- */
    #img-1 {
        display: flex;
        height: 300px;
        margin-right: 3rem
    }
    /* About us */
    #img-2 {
        display: flex;
        height: 400px;        
    }
    .info {
        width: 60%;        
        padding-right: 3rem;
    }
    .showcase {
        justify-content: center;
    }
    .showcase h1 {
        text-align: start;
    }
    .showcase p {
        text-align: start;
        margin-bottom: 1rem;
    }
    .text-1 {
        justify-content: start;
        align-items: flex-start;
    }
    .btn-clinic {
        margin: 0;       
        
    }
    /* About Us */
    .container-4 {
        width: 80%;
        text-align: start;
    }
    /* SERVICES */
    .grid {
        width: 50%;
        grid-template-columns: repeat(2, 1fr);
    }
    /* APPOINTMENT */
    .appointment .container {
        width: 75%;
        flex-direction: row;
        justify-content: space-between;
    }
    /* SOCIAL MEDIA */
    .social-media-container {
        display: none;
    }
    
}
@media (min-width: 992px) {


    /* ----showcase--- */
       
    .container3 {
        width: 80%;
    }
    #img-2 {
        height: 450px;
    }
    .text-1 {
        width: 70%;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin-left: 8rem;                
    }
    /* ABOUT US */
    .container-4 {
        width: 80%;
    }
    .results {
        width: 80%;
    }
    /* SERVICES */
    .grid {
        width: 70%;
        
    }

    /* FOOTER */
    .footer {
        height: 5rem;
    }


@media (min-width: 1200px) {
    #img-1, #img-2 {
        height: 450px;
    }
    
    
    /* MAIN MENU */

    .logo {        
        margin-top: 1rem;        
    }
    .container2 {
        width: 80%;
    }

    /* Showcase */
    .showcase {
        margin-top: 1rem;
    }
    .container3 {
        width: 80%;
    }
    .showcase h1 {    
        font-size: 50px;
    }
    .showcase p {
        font-family: 'Roboto', serif;
        font-size: 18px;
        font-weight: 300;
        padding: .3rem 0;
        line-height: 1.6rem;
    }

    .grid {
        
        grid-template-columns: repeat(3, 1fr);        
    }
    /* ABOUT US */
    .container-4 {
        width: 80%;
    }
}
}